;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Sep  5 05:18:52 2017
;; Desktop file format version 208
;; Emacs version 25.1.1

;; this is just a sample.
